services:
  robot1:
    container_name: robot1
    build:
      context: .
      dockerfile: ../Dockerfile
      args:
        ROS_DISTRO: jazzy
        USERNAME: ubuntu
        USER_UID: 1000
        USER_GID: 1000
        INSTALL_PROFILE: custom
        ROBOT_NAME: robot1

    environment:
      DISPLAY: ":1"
      ROS_DISTRO: "jazzy"
      ROS_DOMAIN_ID: 0
      PYTHONUNBUFFERED: "1"
      LIBGL_ALWAYS_SOFTWARE: "1"
      MESA_GL_VERSION_OVERRIDE: "3.3"
      QT_X11_NO_MITSHM: "1"
      QT_QPA_PLATFORM: "xcb"
      GZ_SIM_RENDER_ENGINE: "ogre"  # Force Ogre1 instead of Ogre2
      GZ_PARTITION: ros2_gz_partition
      ROBOT_NAME: robot1

    networks:
      - ros2_network

    volumes:
      - ../../src:/home/ubuntu/ros2_ws/src
      - ../../launch:/home/ubuntu/ros2_ws/launch
      - robot1_build:/home/ubuntu/ros2_ws/build
      - robot1_install:/home/ubuntu/ros2_ws/install
      - robot1_log:/home/ubuntu/ros2_ws/log

    ports:
      - "6080:6080"   # noVNC
      - "5901:5901"   # VNC

volumes:
  robot1_build:
  robot1_install:
  robot1_log:

networks:
  ros2_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
          gateway: 172.20.0.1
