services:
  robot1:
    container_name: robot1
    build:
      dockerfile: ../Dockerfile
      args:
        ROS_DISTRO: jazzy
        USERNAME: ubuntu
        USER_UID: 1000
        USER_GID: 1000
        INSTALL_PROFILE: custom
        ROBOT_NAME: robot1

    environment:
      DISPLAY: ":1"
      ROS_DISTRO: "jazzy"
      ROS_DOMAIN_ID: 0
      PYTHONUNBUFFERED: "1"
      LIBGL_ALWAYS_SOFTWARE: "1"
      MESA_GL_VERSION_OVERRIDE: "3.3"
      QT_X11_NO_MITSHM: "1"
      GZ_SIM_RENDER_ENGINE: "ogre"  # Force Ogre1 instead of Ogre2
      GZ_PARTITION: ros2_gz_partition

    networks:
      - ros2_network

    volumes:
      - ../../src:/home/ubuntu/ros2_ws/src
      - ../../launch:/home/ubuntu/ros2_ws/launch
      - ros2_build:/home/ubuntu/ros2_ws/build
      - ros2_install:/home/ubuntu/ros2_ws/install
      - ros2_log:/home/ubuntu/ros2_ws/log

    ports:
      - "6080:6080"   # noVNC
      - "5901:5901"   # VNC

volumes:
  ros2_build:
  ros2_install:
  ros2_log:

networks:
  ros2_network:
    driver: bridge
