services:
  robot1:
    container_name: robot1
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ROS_DISTRO: jazzy
        USERNAME: ubuntu
        USER_UID: 1000
        USER_GID: 1000

    environment:
      DISPLAY: ":1"
      ROS_DISTRO: "jazzy"
      ROS_DOMAIN_ID: "0"
      VNC_RESOLUTION: "1920x1080"
#      VNC_PASSWORD: "ros" # not needed because currently we are running without password
      DISPLAY_NUM: "1"
      VNC_PORT: "5901"
      NOVNC_PORT: "6080"
#      CMAKE_PREFIX_PATH: "/opt/ros/jazzy"
#      AMENT_PREFIX_PATH: "/opt/ros/jazzy"
#      COLCON_PREFIX_PATH: "/opt/ros/jazzy"
      PYTHONUNBUFFERED: "1"
#      SUPERVISORD_CONF: "/home/ubuntu/supervisord.conf" #supervisor generate by the entrypoint

#    volumes:
#      - .:/home/ubuntu/ros2_ws:cached
    volumes:
      - ../src:/home/ubuntu/ros2_ws/src
      - ../launch:/home/ubuntu/ros2_ws/launch
      - ros2_build:/home/ubuntu/ros2_ws/build
      - ros2_install:/home/ubuntu/ros2_ws/install
      - ros2_log:/home/ubuntu/ros2_ws/log

    ports:
      - "6080:6080"   # noVNC
      - "5901:5901"   # VNC
#      - "8080:8080"   # App

#    privileged: true
#    ipc: host # maybe need to add back

    cap_add:
      - SYS_PTRACE

    security_opt:
      - seccomp=unconfined

    devices:
      - /dev/dri:/dev/dri

volumes:
  ros2_build:
  ros2_install:
  ros2_log:
