services:
  robot1:
    container_name: robot1
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ROS_DISTRO: jazzy
        USERNAME: ubuntu
        USER_UID: 1000
        USER_GID: 1000

    environment:
      DISPLAY: ":1"
      ROS_DISTRO: "jazzy"
      ROS_DOMAIN_ID: "0"
      VNC_RESOLUTION: "1920x1080"
      DISPLAY_NUM: "1"
      VNC_PORT: "5901"
      NOVNC_PORT: "6080"
      PYTHONUNBUFFERED: "1"
      # Graphics fixes for Gazebo
      LIBGL_ALWAYS_SOFTWARE: "1"
      MESA_GL_VERSION_OVERRIDE: "3.3"
      MESA_GLSL_VERSION_OVERRIDE: "330"
      QT_X11_NO_MITSHM: "1"
      XDG_RUNTIME_DIR: "/tmp/runtime-ubuntu"
      GZ_SIM_RENDER_ENGINE: "ogre"  # Force Ogre1 instead of Ogre2

    volumes:
      - ../../src:/home/ubuntu/ros2_ws/src
      - ../../launch:/home/ubuntu/ros2_ws/launch
      - ros2_build:/home/ubuntu/ros2_ws/build
      - ros2_install:/home/ubuntu/ros2_ws/install
      - ros2_log:/home/ubuntu/ros2_ws/log

    ports:
      - "6080:6080"   # noVNC
      - "5901:5901"   # VNC

    cap_add:
      - SYS_PTRACE

    security_opt:
      - seccomp=unconfined

    devices:
      - /dev/dri:/dev/dri

volumes:
  ros2_build:
  ros2_install:
  ros2_log: